templates/default-workflows/chat-webhook.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chat",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 304],
      "webhookId": "chat-webhook-handler"
    },
    {
      "parameters": {
        "jsCode": "// ✅ Read directly from webhook body\nconst body = $input.item.json.body || $input.item.json;\n\nconst userId = body.userId || 'unknown';\nconst message = body.message || '';\nconst sessionId = body.sessionId || '';\n\n// Log for debugging\nconsole.log('Received data:', { userId, message, sessionId });\n\n// Process message\nconst aiResponse = message ? `Echo: ${message}` : 'No message received';\n\n// Create response\nconst response = {\n  success: true,\n  response: aiResponse,\n  sessionId: sessionId,\n  metadata: {\n    classification: 'neutral_interaction',\n    ethical_scores: {\n      self_awareness: 0.5,\n      emotional_regulation: 0.5,\n      compassion: 0.5\n    },\n    growth_stage: 2,\n    timestamp: new Date().toISOString(),\n    userId: userId\n  }\n};\n\nreturn response;"
      },
      "id": "process-message",
      "name": "Process Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 304]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "send-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [688, 304]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Message": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "67ba5ddb62e569b8e74a52ebb7268831f7fa62f29153828135238c32f4cae0fc"
  },
  "name": "Chat Webhook Handler",
  "active": true
}
