templates/default-workflows/chat-webhook.json
{
  "name": "Chat Webhook Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chat",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 304],
      "webhookId": "chat-webhook-handler"
    },
    {
      "parameters": {
        "jsCode": "// ✅ อ่านข้อมูลจาก webhook\nconst body = $input.item.json.body || $input.item.json;\nconst userId = body.userId;\nconst message = body.message;\nconst sessionId = body.sessionId;\nconst databaseUrl = body.databaseUrl;\n\nconsole.log('📥 Received:', { userId, sessionId, messageLength: message?.length });\n\nif (!userId || !message) {\n  throw new Error('Missing userId or message');\n}\n\n// ส่งต่อไปยัง Gating Service\nreturn {\n  json: {\n    userId,\n    message,\n    sessionId,\n    databaseUrl\n  }\n};"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gating-service:8080/gating/ethical-route",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            },
            {
              "name": "database_url",
              "value": "={{ $json.databaseUrl }}"
            },
            {
              "name": "metadata",
              "value": "={{ { session_id: $json.sessionId, source: 'n8n_chat' } }}"
            }
          ]
        },
        "options": {
          "timeout": 40000
        }
      },
      "id": "call-gating",
      "name": "Call Gating Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [688, 304]
    },
    {
      "parameters": {
        "jsCode": "const gatingResult = $input.item.json;\n\n// ตรวจสอบว่าเป็น wisdom_moment หรือ needs_support\nconst isSpecial = ['wisdom_moment', 'needs_support'].includes(gatingResult.routing);\n\n// สร้าง response\nconst response = {\n  success: true,\n  message: gatingResult.response || gatingResult.output || 'คำตอบจาก AI',\n  sessionId: $('Validate Input').item.json.sessionId,\n  classification: gatingResult.routing,\n  ethicalScores: gatingResult.ethical_scores,\n  growthStage: gatingResult.growth_stage,\n  detectedLanguage: gatingResult.detected_language,\n  reflectionPrompt: gatingResult.reflection_prompt,\n  gentleGuidance: gatingResult.gentle_guidance,\n  isSpecialMoment: isSpecial\n};\n\nconsole.log('✅ Response prepared:', { classification: response.classification });\n\nreturn { json: response };"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [912, 304]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "send-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1136, 304]
    },
    {
      "parameters": {
        "jsCode": "// Error Handler\nconst error = $input.item.json.error || $input.item.json;\n\nconsole.error('❌ Workflow error:', error);\n\nreturn {\n  json: {\n    success: false,\n    error: 'เกิดข้อผิดพลาดในการประมวลผล',\n    details: error.message || 'Unknown error',\n    classification: 'error'\n  }\n};"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [912, 504]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Call Gating Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gating Service": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "executionTimeout": 60,
    "timezone": "Asia/Bangkok"
  },
  "tags": ["chat", "production", "webhook"]
}