templates/default-workflows/cron-5min.json
{
  "name": "Process Sessions Every 5 Minutes",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        },
        "timezone": "Asia/Bangkok"
      },
      "id": "schedule_trigger_001",
      "name": "Schedule Every 5min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://sun.7on.ai/api/cron/process-sessions?userId={{$workflow.staticData.userId}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http_request_001",
      "name": "Process Sessions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success_condition",
              "leftValue": "={{$json.statusCode}}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if_node_001",
      "name": "Check Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date().toLocaleString('th-TH', { timeZone: 'Asia/Bangkok' });\nconst data = $input.item.json;\n\nconsole.log(`✅ [${now}] Sessions processed successfully`);\nconsole.log('User ID:', data.userId);\nconsole.log('Processed:', data.processed);\nconsole.log('Milestones:', data.milestones);\nconsole.log('Consolidated:', data.consolidated);\n\nreturn $input.item;"
      },
      "id": "log_success_001",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date().toLocaleString('th-TH', { timeZone: 'Asia/Bangkok' });\nconst error = $input.item.json;\n\nconsole.error(`❌ [${now}] Failed to process sessions`);\nconsole.error('Status:', error.statusCode);\nconsole.error('Error:', error.error || error.message);\n\nreturn $input.item;"
      },
      "id": "log_error_001",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Schedule Every 5min": {
      "main": [
        [
          {
            "node": "Process Sessions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Sessions": {
      "main": [
        [
          {
            "node": "Check Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Response": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "userId": "PLACEHOLDER_WILL_BE_REPLACED"
  },
  "tags": ["cron", "session-processing", "auto-generated"],
  "triggerCount": 0,
  "updatedAt": "2024-12-18T00:00:00.000Z",
  "versionId": "2",
  "active": false
}