templates/default-workflows/n8n-credentials.json
{
  "name": "Auto Sync Credentials",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression", 
              "expression": "*/2 * * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Check Every 2 Minutes",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/n8n_credentials",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "httpHeaderAuth": {
          "name": "Authorization",
          "value": "Bearer {{$env.SUPABASE_SERVICE_KEY}}"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "select", 
              "value": "user_id"
            },
            {
              "name": "user_id", 
              "value": "eq.{{$env.USER_ID}}"
            },
            {
              "name": "project_id", 
              "value": "eq.{{$env.NORTHFLANK_PROJECT_ID}}"
            }
          ]
        }
      },
      "id": "check-existing",
      "name": "Check if Already Synced",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-not-synced",
      "name": "If Not Synced Yet",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 200]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/n8n_credentials",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "apikey", 
              "value": "{{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{$env.USER_ID}}"
            },
            {
              "name": "project_id", 
              "value": "={{$env.NORTHFLANK_PROJECT_ID}}"
            },
            {
              "name": "project_name",
              "value": "={{$env.NORTHFLANK_PROJECT_NAME}}"
            },
            {
              "name": "n8n_host",
              "value": "={{$env.N8N_HOST}}"
            },
            {
              "name": "n8n_editor_url",
              "value": "={{$env.N8N_EDITOR_BASE_URL}}"
            },
            {
              "name": "n8n_webhook_url",
              "value": "={{$env.WEBHOOK_URL}}"
            },
            {
              "name": "n8n_email",
              "value": "={{$env.N8N_USER_EMAIL}}"
            },
            {
              "name": "n8n_password",
              "value": "={{$env.N8N_USER_PASSWORD}}"
            },
            {
              "name": "n8n_user_id",
              "value": "={{$env.N8N_USER_ID}}"
            },
            {
              "name": "created_at",
              "value": "={{new Date().toISOString()}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "insert-credentials",
      "name": "Insert Credentials to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "jsCode": "// Disable this workflow after successful sync\nconst workflow = this.getWorkflow();\nworkflow.active = false;\n\n// Log success\nconsole.log('Credentials synced successfully to Supabase');\nconsole.log('Workflow has been disabled to prevent duplicate entries');\n\nreturn [{ \n  success: true, \n  message: 'Credentials synced and workflow disabled',\n  timestamp: new Date().toISOString()\n}];"
      },
      "id": "disable-workflow",
      "name": "Disable Workflow After Sync",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Check Every 2 Minutes": {
      "main": [
        [
          {
            "node": "Check if Already Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Already Synced": {
      "main": [
        [
          {
            "node": "If Not Synced Yet",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "If Not Synced Yet": {
      "main": [
        [
          {
            "node": "Insert Credentials to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Credentials to Supabase": {
      "main": [
        [
          {
            "node": "Disable Workflow After Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": {},
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
