templates/default-workflows/n8n-credentials.json
{
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Check Every 2 Minutes",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        288,
        288
      ]
    },
    {
      "parameters": {
        "url": "https://tlfgvdorjdkgfhgmitxz.supabase.co/rest/v1/n8n_credentials",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsZmd2ZG9yamRrZ2ZoZ21pdHh6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mjk4NDg5MywiZXhwIjoyMDY4NTYwODkzfQ.d8pNoIFsgLwe5fhhNQbVwxgniWPJFBAFK344R4YM5Kg"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsZmd2ZG9yamRrZ2ZoZ21pdHh6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mjk4NDg5MywiZXhwIjoyMDY4NTYwODkzfQ.d8pNoIFsgLwe5fhhNQbVwxgniWPJFBAFK344R4YM5Kg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "check-existing",
      "name": "Check if Already Synced",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        288
      ],
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{$json.length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equal"
              },
              "id": "8207dc9d-7745-406f-a177-f8a0fe5abd06"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-not-synced",
      "name": "If Not Synced Yet",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        688,
        288
      ]
    },
    {
      "parameters": {
        "url": "https://tlfgvdorjdkgfhgmitxz.supabase.co/rest/v1/n8n_credentials",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsZmd2ZG9yamRrZ2ZoZ21pdHh6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mjk4NDg5MywiZXhwIjoyMDY4NTYwODkzfQ.d8pNoIFsgLwe5fhhNQbVwxgniWPJFBAFK344R4YM5Kg"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsZmd2ZG9yamRrZ2ZoZ21pdHh6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mjk4NDg5MywiZXhwIjoyMDY4NTYwODkzfQ.d8pNoIFsgLwe5fhhNQbVwxgniWPJFBAFK344R4YM5Kg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "=${args.user_id}"
            },
            {
              "name": "project_id",
              "value": "=${refs.project.id}"
            },
            {
              "name": "project_name",
              "value": "=${refs.project.name}"
            },
            {
              "name": "n8n_host",
              "value": "=${refs.n8n.ports.0.dns}"
            },
            {
              "name": "n8n_editor_url",
              "value": "=${refs.n8n.ports.0.dns}"
            },
            {
              "name": "n8n_webhook_url",
              "value": "=${args.webhook_url}"
            },
            {
              "name": "n8n_email",
              "value": "=${args.user_email}"
            },
            {
              "name": "n8n_password",
              "value": "=7On${args.N8N_ENCRYPTION_KEY}"
            },
            {
              "name": "n8n_user_id",
              "value": "=${args.user_id}"
            },
            {
              "name": "created_at",
              "value": "={{new Date().toISOString()}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "insert-credentials",
      "name": "Insert Credentials to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "// Disable this workflow after successful sync\nconst workflow = this.getWorkflow();\nworkflow.active = false;\n\n// Log success\nconsole.log('Credentials synced successfully to Supabase');\nconsole.log('Workflow has been disabled to prevent duplicate entries');\n\nreturn [{ \n  success: true, \n  message: 'Credentials synced and workflow disabled',\n  timestamp: new Date().toISOString()\n}];"
      },
      "id": "disable-workflow",
      "name": "Disable Workflow After Sync",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        288
      ]
    }
  ],
  "connections": {
    "Check Every 2 Minutes": {
      "main": [
        [
          {
            "node": "Check if Already Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Already Synced": {
      "main": [
        [
          {
            "node": "If Not Synced Yet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Synced Yet": {
      "main": [
        [],
        [
          {
            "node": "Insert Credentials to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Credentials to Supabase": {
      "main": [
        [
          {
            "node": "Disable Workflow After Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "dedc1110c2cf2d58697481aa5f54275a8dc0d599c3ee8627a442017b1c6c7364"
  }
}
