templates/default-workflows/WF2 — Brain Router (Production)
{
  "name": "WF2 — Brain Router (Production)",
  "nodes": [
    {
      "parameters": {
        "model": "anthropic/claude-haiku-4-5",
        "options": {
          "maxTokens": 500
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        368,
        560
      ],
      "id": "cc6dfcd7-9679-4f0b-bf34-202ea04c049c",
      "name": "LLM Router (Haiku)",
      "credentials": {
        "openRouterApi": {
          "id": "FUm3Fg9B8euy8cH3",
          "name": "OpenRouter - 2026-02-14T03:30"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=You are a smart router for a personal AI assistant system.\n\nYour ONLY job: Read the user message and return the correct agent ID.\n\n## Available Agents:\n\n**wf3a** — Secretary\n- Calendar, email, tasks, meetings\n- Chat platforms (Telegram, Discord, Slack)\n- Social media (Twitter, Facebook, LinkedIn)\n- LINE notifications\n\n**wf3b** — Soul\n- Journal entries, reflection\n- Habits, streaks, mindfulness\n- Personal growth, emotional support\n- Memory management\n\n**wf3c** — Career Coach\n- Finance, expenses, income tracking\n- Stock market, crypto, forex\n- Tax calculations, invoices\n- Thai labor law, business registration\n\n**wf3d** — Explorer+\n- Web search, Wikipedia\n- Weather forecasts\n- Maps, places, navigation\n- Developer tools (GitHub, npm, PyPI)\n\n**wf3e** — Creator\n- Image generation (AI art)\n- Text-to-speech\n- Stock photos (Unsplash)\n- Writing assistance, translation\n\n**wf3f** — Home Mate\n- Music (Spotify, Sonos)\n- Smart home (Home Assistant)\n- Ambient modes, lighting\n- Last.fm scrobbling\n\n**wf3g** — Health Coach\n- Nutrition, calories\n- Exercise, workouts\n- Medicine information\n- Health tracking (BMI, TDEE)\n\n## Instructions:\n1. Read the user message\n2. Choose the MOST appropriate agent\n3. Return ONLY the agent ID: wf3a | wf3b | wf3c | wf3d | wf3e | wf3f | wf3g\n4. No explanation, no markdown, just the ID\n\n## Examples:\n\nUser: \"Read my emails\"\nYou: wf3a\n\nUser: \"I want to journal today's thoughts\"\nYou: wf3b\n\nUser: \"Track my expense for lunch\"\nYou: wf3c\n\nUser: \"What's the weather tomorrow?\"\nYou: wf3d\n\nUser: \"Generate an image of a sunset\"\nYou: wf3e\n\nUser: \"Play some jazz music\"\nYou: wf3f\n\nUser: \"Log my calorie intake\"\nYou: wf3g\n\n## Current Message:\nLanguage: {{ $json.persona.language_preference || 'th' }}\nMessage: {{ $json.message }}\n\nReturn ONLY: wf3a | wf3b | wf3c | wf3d | wf3e | wf3f | wf3g"
        }
      },
      "id": "af54489d-3a97-4193-b7c2-6fa1327e43af",
      "name": "Smart Router Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        368,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM Router response\nconst payload = $input.first().json;\nconst raw = payload.output || payload.text || 'wf3a';\n\n// Extract agent ID (strip markdown, whitespace)\nlet targetAgent = raw.replace(/```|`/g, '').trim().toLowerCase();\n\n// Validate\nconst validAgents = ['wf3a', 'wf3b', 'wf3c', 'wf3d', 'wf3e', 'wf3f', 'wf3g'];\nif (!validAgents.includes(targetAgent)) {\n  console.log('[Router] Invalid agent from LLM:', targetAgent, '→ fallback to wf3a');\n  targetAgent = 'wf3a'; // Fallback: Secretary handles most things\n}\n\nconst agentUrls = {\n  wf3a: process.env.N8N_WF3A_URL || 'http://localhost:5678/webhook/wf3a-secretary',\n  wf3b: process.env.N8N_WF3B_URL || 'http://localhost:5678/webhook/wf3b-soul',\n  wf3c: process.env.N8N_WF3C_URL || 'http://localhost:5678/webhook/wf3c-careercoach',\n  wf3d: process.env.N8N_WF3D_URL || 'http://localhost:5678/webhook/wf3d-explorer',\n  wf3e: process.env.N8N_WF3E_URL || 'http://localhost:5678/webhook/wf3e-creator',\n  wf3f: process.env.N8N_WF3F_URL || 'http://localhost:5678/webhook/wf3f-homemate',\n  wf3g: process.env.N8N_WF3G_URL || 'http://localhost:5678/webhook/wf3g-healthcoach'\n};\n\nconsole.log('[Router] Target agent:', targetAgent);\n\nreturn {\n  json: {\n    ...payload,\n    targetAgent,\n    targetUrl: agentUrls[targetAgent]\n  }\n};"
      },
      "id": "0dee67c0-30c1-47d1-bad9-0c487f85037c",
      "name": "Parse Router Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        320
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf2-brain",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "be5f01a3-4581-424b-b646-697f629c5d07",
      "name": "WF2 Entry1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -512,
        320
      ],
      "webhookId": "wf2-brain-entry"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body || $input.first().json;\nreturn {\n  json: {\n    userId: payload.userId,\n    sessionId: payload.sessionId,\n    source: payload.source,\n    message: payload.message,\n    originalMessage: payload.originalMessage,\n    timestamp: payload.timestamp,\n    replyTarget: payload.replyTarget,\n    replyToken: payload.replyToken,\n    rawPayload: payload\n  }\n};"
      },
      "id": "ded592b6-2268-4ff2-bea7-82ca843e1ea6",
      "name": "Extract Payload1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Load User Context from Database\nconst userId = $input.first().json.userId;\n\nif (!userId) {\n  return { json: { error: 'No userId provided' } };\n}\n\nconst dbUrl = process.env.DATABASE_URL || '';\n\nif (!dbUrl) {\n  console.log('[Load Context] DATABASE_URL not configured, using empty persona');\n  return { \n    json: { \n      ...$input.first().json,\n      persona: {\n        userId,\n        language_preference: 'th',\n        tokens: {}\n      }\n    } \n  };\n}\n\ntry {\n  const { Pool } = require('pg');\n  const pool = new Pool({ connectionString: dbUrl });\n  \n  const result = await pool.query(\n    'SELECT * FROM \"User\" WHERE id = $1 LIMIT 1',\n    [userId]\n  );\n  \n  await pool.end();\n  \n  if (result.rows.length === 0) {\n    console.log('[Load Context] User not found:', userId);\n    return { \n      json: { \n        ...$input.first().json,\n        persona: {\n          userId,\n          language_preference: 'th',\n          tokens: {}\n        }\n      } \n    };\n  }\n  \n  const user = result.rows[0];\n  \n  const persona = {\n    userId: user.id,\n    email: user.email,\n    name: user.name || user.email?.split('@')[0],\n    language_preference: user.language_preference || 'th',\n    timezone: user.timezone || 'Asia/Bangkok',\n    subscriptionTier: user.subscriptionTier || 'FREE',\n    tokens: {}\n  };\n  \n  console.log('[Load Context] User loaded:', {\n    userId: userId.substring(0, 8) + '...',\n    language: persona.language_preference,\n    tier: persona.subscriptionTier\n  });\n  \n  return { \n    json: { \n      ...$input.first().json,\n      persona\n    } \n  };\n  \n} catch (err) {\n  console.error('[Load Context] Database error:', err.message);\n  return { \n    json: { \n      ...$input.first().json,\n      persona: {\n        userId,\n        language_preference: 'th',\n        tokens: {},\n        _error: err.message\n      }\n    } \n  };\n}"
      },
      "id": "83e5950b-fab2-407c-a296-46e07ca7c40a",
      "name": "Load Context1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// WF2 — Load Tokens from n8n (COMPLETE)\nconst context = $input.first().json;\nconst userId = context.userId;\n\nif (!userId) {\n  console.log('[Load Tokens] No userId found');\n  return { json: { ...context, persona: { ...context.persona, tokens: {} } } };\n}\n\nconst n8nUrl = process.env.N8N_BASE_URL || '';\nconst n8nEmail = process.env.N8N_USER_EMAIL || '';\nconst n8nPassword = process.env.N8N_USER_PASSWORD || '';\n\nif (!n8nUrl || !n8nEmail || !n8nPassword) {\n  console.log('[Load Tokens] n8n config missing');\n  return { json: { ...context, persona: { ...context.persona, tokens: {} } } };\n}\n\ntry {\n  const loginRes = await fetch(`${n8nUrl}/rest/login`, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      emailOrLdapLoginId: n8nEmail,\n      password: n8nPassword\n    })\n  });\n  \n  if (!loginRes.ok) {\n    console.log('[Load Tokens] n8n login failed');\n    return { json: { ...context, persona: { ...context.persona, tokens: {} } } };\n  }\n  \n  const cookies = loginRes.headers.get('set-cookie') || '';\n  \n  const credsRes = await fetch(`${n8nUrl}/rest/credentials`, {\n    headers: { Cookie: cookies }\n  });\n  \n  if (!credsRes.ok) {\n    console.log('[Load Tokens] Failed to fetch credentials');\n    return { json: { ...context, persona: { ...context.persona, tokens: {} } } };\n  }\n  \n  const allCreds = await credsRes.json();\n  const userCreds = (allCreds.data || []).filter(c => \n    c.name && c.name.startsWith(`${userId}:`)\n  );\n  \n  console.log(`[Load Tokens] Found ${userCreds.length} credentials for user`);\n  \n  const tokens = {};\n  const metadata = {};\n  \n  for (const cred of userCreds) {\n    try {\n      const detailRes = await fetch(`${n8nUrl}/rest/credentials/${cred.id}`, {\n        headers: { Cookie: cookies }\n      });\n      \n      if (!detailRes.ok) continue;\n      \n      const detail = await detailRes.json();\n      const data = detail.data || {};\n      const parts = cred.name.split(':');\n      const service = parts[1];\n      \n      if (data.oauthTokenData) {\n        const prefix = service === 'google' ? 'google' : service;\n        tokens[`${prefix}_access_token`] = data.oauthTokenData.access_token;\n        tokens[`${prefix}_refresh_token`] = data.oauthTokenData.refresh_token;\n      }\n      \n      if (service === 'line_notify' && data.value) {\n        tokens.line_notify_token = data.value.replace('Bearer ', '');\n      }\n      \n      if (service === 'youtube_api' && data.apiKey) {\n        tokens.youtube_api_key = data.apiKey;\n      }\n      \n      if (service === 'google_maps' && data.apiKey) {\n        tokens.google_maps_key = data.apiKey;\n      }\n      \n      if (service === 'openweathermap' && data.accessToken) {\n        tokens.openweathermap_key = data.accessToken;\n      }\n      \n      if (service === 'brave_search' && data.value) {\n        tokens.brave_api_key = data.value;\n      }\n      \n      if (service === 'finnhub' && data.apiKey) {\n        tokens.finnhub_api_key = data.apiKey;\n      }\n      \n      if (service === 'nutritionix') {\n        tokens.nutritionix_app_id = data.value || '';\n        tokens.nutritionix_api_key = data.additionalHeaders?.['x-app-key'] || '';\n      }\n      \n      if (service === 'fal_ai' && data.value) {\n        tokens.fal_api_key = data.value.replace('Key ', '');\n      }\n      \n      if (service === 'elevenlabs' && data.apiKey) {\n        tokens.elevenlabs_api_key = data.apiKey;\n        if (detail.refreshToken) {\n          try {\n            const meta = JSON.parse(detail.refreshToken);\n            if (meta.voice_id) metadata.elevenlabs_voice_id = meta.voice_id;\n          } catch (e) {}\n        }\n      }\n      \n      if (service === 'unsplash' && data.value) {\n        tokens.unsplash_access_key = data.value.replace('Client-ID ', '');\n      }\n      \n      if (service === 'lastfm') {\n        tokens.lastfm_api_key = data.value || '';\n        if (detail.refreshToken) {\n          try {\n            const meta = JSON.parse(detail.refreshToken);\n            if (meta.username) metadata.lastfm_username = meta.username;\n            if (meta.session_key) metadata.lastfm_session_key = meta.session_key;\n          } catch (e) {}\n        }\n      }\n      \n      if (service === 'home_assistant' && data.value) {\n        tokens.ha_token = data.value.replace('Bearer ', '');\n        if (detail.refreshToken) {\n          try {\n            const meta = JSON.parse(detail.refreshToken);\n            if (meta.url) metadata.ha_url = meta.url;\n          } catch (e) {}\n        }\n      }\n      \n      if (service === 'sonos') {\n        if (detail.refreshToken) {\n          try {\n            const meta = JSON.parse(detail.refreshToken);\n            if (meta.url) metadata.sonos_api_url = meta.url;\n          } catch (e) {}\n        }\n      }\n      \n    } catch (err) {\n      console.log(`[Load Tokens] Error processing ${cred.name}:`, err.message);\n    }\n  }\n  \n  console.log(`[Load Tokens] Extracted ${Object.keys(tokens).length} tokens`);\n  \n  return { \n    json: { \n      ...context, \n      persona: { \n        ...context.persona, \n        tokens: { ...tokens, ...metadata } \n      } \n    } \n  };\n  \n} catch (err) {\n  console.error('[Load Tokens] Error:', err.message);\n  return { json: { ...context, persona: { ...context.persona, tokens: {} } } };\n}"
      },
      "id": "c7be29a3-1d2e-417b-9fea-ceb9eba9e04b",
      "name": "Load Tokens1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        320
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.targetUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "13022d63-4fea-4087-959b-19bbbc32e1f3",
      "name": "Forward to WF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "LLM Router (Haiku)": {
      "ai_languageModel": [
        [
          {
            "node": "Smart Router Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Smart Router Agent": {
      "main": [
        [
          {
            "node": "Parse Router Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Router Response": {
      "main": [
        [
          {
            "node": "Forward to WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF2 Entry1": {
      "main": [
        [
          {
            "node": "Extract Payload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Payload1": {
      "main": [
        [
          {
            "node": "Load Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Context1": {
      "main": [
        [
          {
            "node": "Load Tokens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Tokens1": {
      "main": [
        [
          {
            "node": "Smart Router Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a69b521d-81e3-4411-96fb-3fec3732de0c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3a8077648ce894608db1ade94831096370fb6a0453430d193f6c81b3c8cc1cb"
  },
  "id": "X207owXpSeTrfjeN",
  "tags": []
}
