templates/default-workflows/WF3-E — Creator Agent v1 (OpenRouter)
{
  "name": "WF3-E — Creator Agent v1 (OpenRouter)",
  "nodes": [
    {
      "parameters": {
        "content": "# WF3-E — CREATOR v1\n## 5 Code Tools\n1. generate_image   → fal.ai FLUX image generation\n2. text_to_speech   → ElevenLabs TTS\n3. find_media       → Unsplash stock photos\n4. write_content    → translation + writing assistance\n5. search_memories  → Past conversations (OpenRouter embed)\n\nModel: Claude Sonnet (creative)\n\n## KEY CHANGES:\n- search_memories: ใช้ OpenRouter embed (user's key)\n- write_content: ใช้ openrouter_access_token (user's own key)\n- ไม่ต้องการ GATING_SERVICE_URL อีกต่อไป\n\n## MULTILINGUAL: th / en / ja / zh",
        "height": 280,
        "width": 360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        0
      ],
      "id": "32b59c14-4368-4fa3-9b42-40b6713bff1f",
      "name": "Creator v1 Overview1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf3e-creator",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "509400e0-d030-4c87-9a90-a1233cd41022",
      "name": "WF3-E Entry1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        672,
        352
      ],
      "webhookId": "wf3e-creator-entry"
    },
    {
      "parameters": {
        "jsCode": "const p = $input.first().json.body || $input.first().json;\nreturn { json: {\n  userId: p.userId, sessionId: p.sessionId, source: p.source,\n  message: p.message || p.enrichedMessage,\n  originalMessage: p.originalMessage || p.message,\n  persona: typeof p.persona === 'string' ? JSON.parse(p.persona) : (p.persona || {}),\n  replyTarget: p.replyTarget, replyToken: p.replyToken, timestamp: p.timestamp\n}};"
      },
      "id": "7a6092ef-7866-4879-82d8-1dcda56b14fb",
      "name": "Extract Payload1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "// Load Credentials — MULTILINGUAL + i18n\nconst prev = $('Extract Payload1').first().json;\nconst p = prev.persona || {};\nconst t = p.tokens || {};\nconst lang = p.language_preference || 'th';\n\nconst i18nMap = {\n  th: {\n    not_connected: 'ยังไม่ได้เชื่อมต่อ',\n    configure: 'กรุณาตั้งค่าที่ /dashboard/api-settings',\n    success: 'สำเร็จ',\n    error: 'เกิดข้อผิดพลาด',\n    completed: 'เสร็จแล้ว',\n    prompt_required: 'กรุณาระบุ prompt (ภาษาอังกฤษ)',\n    text_required: 'กรุณาระบุข้อความ',\n    query_required: 'กรุณาระบุคำค้นหา',\n    topic_required: 'กรุณาระบุหัวข้อ',\n    image_prompt_note: 'Image prompt ทำงานดีที่สุดเมื่อเป็นภาษาอังกฤษ จะช่วยแปลให้'\n  },\n  en: {\n    not_connected: 'Not connected',\n    configure: 'Please configure at /dashboard/api-settings',\n    success: 'Success',\n    error: 'Error occurred',\n    completed: 'Completed',\n    prompt_required: 'prompt is required (in English)',\n    text_required: 'text is required',\n    query_required: 'query is required',\n    topic_required: 'topic is required',\n    image_prompt_note: 'Image prompts work best in English'\n  },\n  ja: {\n    not_connected: '接続されていません',\n    configure: '/dashboard/api-settingsで設定してください',\n    success: '成功しました',\n    error: 'エラーが発生しました',\n    completed: '完了しました',\n    prompt_required: 'プロンプトが必要です（英語で）',\n    text_required: 'テキストが必要です',\n    query_required: '検索クエリが必要です',\n    topic_required: 'トピックが必要です',\n    image_prompt_note: '画像プロンプトは英語が最適です（翻訳のサポートあり）'\n  },\n  zh: {\n    not_connected: '未连接',\n    configure: '请在 /dashboard/api-settings 配置',\n    success: '成功',\n    error: '发生错误',\n    completed: '已完成',\n    prompt_required: '需要prompt（请用英文）',\n    text_required: '需要文本',\n    query_required: '需要搜索关键词',\n    topic_required: '需要主题',\n    image_prompt_note: '图像提示词用英语效果最好（可协助翻译）'\n  }\n};\n\nconst i18n = i18nMap[lang] || i18nMap['en'];\n\nconst get = (envKey, payloadKey) =>\n  t[payloadKey] || p[payloadKey] || process.env[envKey] || '';\n\nconst creds = {\n  google_access_token:    get('GOOGLE_ACCESS_TOKEN',    'google_access_token'),\n  google_refresh_token:   get('GOOGLE_REFRESH_TOKEN',   'google_refresh_token'),\n  microsoft_access_token: get('MICROSOFT_ACCESS_TOKEN', 'microsoft_access_token'),\n  outlook_access_token:   get('MICROSOFT_ACCESS_TOKEN', 'microsoft_access_token'),\n  telegram_bot_token:     get('TELEGRAM_BOT_TOKEN',     'telegram_bot_token'),\n  discord_bot_token:      get('DISCORD_BOT_TOKEN',      'discord_bot_token'),\n  slack_bot_token:        get('SLACK_BOT_TOKEN',        'slack_bot_token'),\n  twitter_bearer_token:   get('TWITTER_BEARER_TOKEN',   'twitter_bearer_token'),\n  facebook_access_token:  get('FACEBOOK_ACCESS_TOKEN',  'facebook_access_token'),\n  linkedin_access_token:  get('LINKEDIN_ACCESS_TOKEN',  'linkedin_access_token'),\n  spotify_access_token:   get('SPOTIFY_ACCESS_TOKEN',   'spotify_access_token'),\n  youtube_api_key:        get('YOUTUBE_API_KEY',        'youtube_api_key'),\n  line_notify_token:      get('LINE_NOTIFY_TOKEN',      'line_notify_token'),\n  google_maps_key:        get('GOOGLE_MAPS_API_KEY',    'google_maps_key'),\n  brave_api_key:          get('BRAVE_API_KEY',          'brave_api_key'),\n  openweathermap_key:     get('OPENWEATHERMAP_API_KEY', 'openweathermap_key'),\n  fal_api_key:            get('FAL_API_KEY',            'fal_api_key'),\n  elevenlabs_api_key:     get('ELEVENLABS_API_KEY',     'elevenlabs_api_key'),\n  elevenlabs_voice_id:    get('ELEVENLABS_VOICE_ID',    'elevenlabs_voice_id'),\n  unsplash_access_key:    get('UNSPLASH_ACCESS_KEY',    'unsplash_access_key'),\n  nutritionix_app_id:     get('NUTRITIONIX_APP_ID',     'nutritionix_app_id'),\n  nutritionix_api_key:    get('NUTRITIONIX_API_KEY',    'nutritionix_api_key'),\n  finnhub_api_key:        get('FINNHUB_API_KEY',        'finnhub_api_key'),\n  ha_url:                 get('HOME_ASSISTANT_URL',      'ha_url'),\n  ha_token:               get('HOME_ASSISTANT_TOKEN',    'ha_token'),\n  sonos_api_url:          get('SONOS_HTTP_API_URL',     'sonos_api_url'),\n  lastfm_api_key:         get('LASTFM_API_KEY',         'lastfm_api_key'),\n  internal_auth_token:    get('INTERNAL_AUTH_TOKEN',    'internal_auth_token'),\n  n8n_base_url:           get('N8N_BASE_URL',           'n8n_base_url'),\n  database_url:           get('DATABASE_URL',           'database_url')\n};\n\nconst connected = Object.entries(creds).filter(([k,v]) => v).map(([k]) => k);\n\nconsole.log('[Load Credentials]', {\n  userId: prev.userId?.substring(0, 8) + '...',\n  connected: connected.length,\n  lang\n});\n\nreturn {\n  json: {\n    ...prev,\n    credentials: creds,\n    lang,\n    i18n,\n    _connected: connected\n  }\n};"
      },
      "id": "aa2da35c-ddbd-45d4-b463-f60ac2a586a6",
      "name": "Load Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        352
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=You are Creator — expert in content creation and AI art.\n\nUser: {{ $json.persona.name || 'User' }}\nLanguage: {{ $json.persona.language_preference || 'th' }}\n\n## LANGUAGE RULES:\n**ALWAYS respond in user's preferred language: {{ $json.persona.language_preference }}**\n- If 'th' → Thai\n- If 'en' → English\n- If 'ja' → Japanese\n- If 'zh' → Chinese\n\n## IMAGE PROMPT NOTE (inform user in their language):\n- Thai: 'Image prompt ทำงานดีที่สุดเมื่อเป็นภาษาอังกฤษ จะช่วยแปลให้'\n- English: 'Image prompts work best in English'\n- Japanese: '画像プロンプトは英語が最適です（翻訳のサポートあり）'\n- Chinese: '图像提示词用英语效果最好（可协助翻译）'\n\n## TOOLS:\ngenerate_image, text_to_speech, find_media, write_content, search_memories, think\n\n## RULES:\n- Always translate user's image idea to English before passing to generate_image\n- For write_content, pass the user's language preference in the request\n- Respond to the user in their preferred language at all times"
        }
      },
      "id": "bdd3450d-a1f3-4b3c-a091-54c040e9405e",
      "name": "Creator Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1712,
        240
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Load Credentials').item.json.sessionId }}"
      },
      "id": "5b162ea7-1432-4f58-b40f-48dd4a8aa039",
      "name": "Session Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1664,
        480
      ]
    },
    {
      "parameters": {},
      "id": "45931d4d-91d7-4f9c-82de-c72326faeb07",
      "name": "think1",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        1808,
        480
      ]
    },
    {
      "parameters": {
        "name": "search_memories",
        "description": "Search past conversations and memories semantically using vector similarity. Use when user asks about: past experiences, places visited, previous discussions, things they mentioned before, personal preferences they stated in the past.",
        "jsCode": "// search_memories — OpenAI embedding + pgvector cosine search\n// dim=1536 (text-embedding-3-small) — ตรงกับ WF5-B Process Gating\nconst input = JSON.parse($input.first().json.query || '{}');\nconst query = input.query || input.q || '';\nconst limit = input.limit || 3;\n\nconst creds = $('Load Credentials').first().json.credentials || {};\nconst i18n = $('Load Credentials').first().json.i18n || {};\nconst userId = $('Load Credentials').first().json.userId;\nconst dbUrl = creds.database_url || process.env.DATABASE_URL || '';\nconst openaiKey = creds.google_access_token\n  ? null  // will be overridden below\n  : null;\n\n// Get OpenRouter key from user tokens (ใช้ key เดิมที่มีอยู่แล้ว)\nconst persona = $('Load Credentials').first().json.persona || {};\nconst tokens = persona.tokens || {};\nconst embedKey = tokens.openrouter_access_token || process.env.OPENROUTER_API_KEY || '';\n\nif (!dbUrl) {\n  return { json: { error: `Database ${i18n.not_connected || 'not connected'}`, memories: [] } };\n}\nif (!query || query.length < 3) {\n  return { json: { error: 'Query too short (min 3 chars)', memories: [] } };\n}\nif (!embedKey) {\n  return { json: { error: 'OpenRouter key not configured', memories: [] } };\n}\n\ntry {\n  // ── Step 1: Generate embedding via OpenRouter ─────────────\n  const embedRes = await fetch('https://openrouter.ai/api/v1/embeddings', {\n    method: 'POST',\n    headers: {\n      'Authorization': `Bearer ${embedKey}`,\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      model: 'openai/text-embedding-3-small',\n      input: query\n    })\n  });\n\n  if (!embedRes.ok) {\n    const err = await embedRes.text();\n    return { json: { error: `OpenRouter embed failed: ${embedRes.status} ${err}`, memories: [] } };\n  }\n\n  const embedData = await embedRes.json();\n  const embedding = embedData.data?.[0]?.embedding;\n\n  if (!embedding || !Array.isArray(embedding)) {\n    return { json: { error: 'No embedding returned', memories: [] } };\n  }\n\n  console.log(`[search_memories] dim=${embedding.length} query=\"${query}\"`);\n\n  // ── Step 2: pgvector cosine similarity search ─────────────\n  const { Pool } = require('pg');\n  const pool = new Pool({ connectionString: dbUrl });\n\n  const vectorStr = `[${embedding.join(',')}]`;\n\n  const result = await pool.query(\n    `SELECT\n       content,\n       metadata,\n       created_at,\n       1 - (embedding <=> $1::vector) AS similarity\n     FROM user_data_schema.memory_embeddings\n     WHERE user_id = $2\n       AND embedding IS NOT NULL\n       AND 1 - (embedding <=> $1::vector) > 0.6\n     ORDER BY embedding <=> $1::vector\n     LIMIT $3`,\n    [vectorStr, userId, limit]\n  );\n\n  await pool.end();\n\n  const memories = result.rows.map(r => ({\n    content: r.content,\n    similarity: parseFloat(r.similarity.toFixed(3)),\n    metadata: r.metadata || {},\n    date: new Date(r.created_at).toLocaleDateString('th-TH')\n  }));\n\n  console.log(`[search_memories] Found ${memories.length} | top=${memories[0]?.similarity || 0}`);\n\n  if (memories.length === 0) {\n    return { json: { message: 'No relevant memories found', memories: [], query } };\n  }\n\n  return { json: { memories, count: memories.length, query } };\n\n} catch(err) {\n  console.error('[search_memories] Error:', err.message);\n  return { json: { error: `${i18n.error || 'Error'}: ${err.message}`, memories: [] } };\n}"
      },
      "id": "290b09dd-c844-471e-911e-f754f2fdc115",
      "name": "search_memories",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        1920,
        480
      ]
    },
    {
      "parameters": {
        "name": "generate_image",
        "description": "Generate AI image using fal.ai FLUX. Requires: prompt (English). Optional: aspect_ratio (square|landscape|portrait), style (photorealistic|artistic|anime).",
        "jsCode": "const input = JSON.parse($input.first().json.query || '{}');\nconst ctx = $('Load Credentials').first().json;\nconst creds = ctx.credentials || {};\nconst i18n = ctx.i18n || {};\n\nif (!input.prompt) return { json: { error: i18n.prompt_required || 'prompt required (in English)' } };\n\nconst falKey = creds.fal_api_key || '';\nif (!falKey) return { json: { error: `fal.ai API key ${i18n.not_connected}`, help: i18n.configure } };\n\nconst aspectMap = { square: '1:1', landscape: '16:9', portrait: '9:16' };\nconst aspect = aspectMap[input.aspect_ratio] || '1:1';\nconst stylePrompts = {\n  photorealistic: 'photorealistic, high quality, 8k, detailed',\n  artistic: 'artistic, painterly, expressive, colorful',\n  anime: 'anime style, manga art, clean lines, vibrant'\n};\nconst styleAdd = stylePrompts[input.style] || stylePrompts.photorealistic;\nconst fullPrompt = `${input.prompt}, ${styleAdd}`;\nconst imageSizeMap = { '1:1': 'square_hd', '16:9': 'landscape_4_3', '9:16': 'portrait_4_3' };\n\ntry {\n  const submitRes = await fetch('https://queue.fal.run/fal-ai/flux/schnell', {\n    method: 'POST',\n    headers: { 'Authorization': `Key ${falKey}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ prompt: fullPrompt, image_size: imageSizeMap[aspect] || 'square_hd', num_images: 1, num_inference_steps: 4 })\n  });\n  if (!submitRes.ok) {\n    const err = await submitRes.json();\n    return { json: { error: err.detail || `fal.ai submit ${i18n.error}` } };\n  }\n  const job = await submitRes.json();\n  const requestId = job.request_id;\n  if (!requestId) return { json: { error: 'No request_id from fal.ai' } };\n\n  for (let i = 0; i < 15; i++) {\n    await new Promise(r => setTimeout(r, 2000));\n    const pollRes = await fetch(`https://queue.fal.run/fal-ai/flux/schnell/requests/${requestId}`, {\n      headers: { 'Authorization': `Key ${falKey}` }\n    });\n    const result = await pollRes.json();\n    if (result.status === 'COMPLETED' && result.response?.images?.[0]) {\n      return { json: { success: true, message: i18n.success, image_url: result.response.images[0].url, prompt: fullPrompt, width: result.response.images[0].width, height: result.response.images[0].height }};\n    }\n    if (result.status === 'FAILED') return { json: { error: 'Image generation failed', detail: result.error } };\n  }\n  return { json: { error: 'Timeout waiting for image generation' } };\n} catch(e) {\n  return { json: { error: e.message } };\n}"
      },
      "id": "032ec6e8-56ae-4392-b1c6-e6a55e3a73f9",
      "name": "generate_image1",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        2064,
        480
      ]
    },
    {
      "parameters": {
        "name": "text_to_speech",
        "description": "Convert text to speech using ElevenLabs. Requires: text. Optional: voice_id (default: multilingual v2), stability (0-1), similarity_boost (0-1). Returns: audio_base64.",
        "jsCode": "const input = JSON.parse($input.first().json.query || '{}');\nconst ctx = $('Load Credentials').first().json;\nconst creds = ctx.credentials || {};\nconst i18n = ctx.i18n || {};\n\nif (!input.text) return { json: { error: i18n.text_required || 'text required' } };\n\nconst elKey = creds.elevenlabs_api_key || '';\nif (!elKey) return { json: { error: `ElevenLabs ${i18n.not_connected}`, help: i18n.configure } };\n\nconst voiceId = input.voice_id || creds.elevenlabs_voice_id || 'pNInz6obpgDQGcFmaJgB';\nconst text = input.text.slice(0, 2500);\n\ntry {\n  const res = await fetch(`https://api.elevenlabs.io/v1/text-to-speech/${voiceId}`, {\n    method: 'POST',\n    headers: { 'xi-api-key': elKey, 'Content-Type': 'application/json', 'Accept': 'audio/mpeg' },\n    body: JSON.stringify({\n      text,\n      model_id: 'eleven_multilingual_v2',\n      voice_settings: { stability: parseFloat(input.stability || 0.5), similarity_boost: parseFloat(input.similarity_boost || 0.75) }\n    })\n  });\n  if (!res.ok) {\n    const err = await res.json().catch(() => ({}));\n    return { json: { error: err.detail?.message || `ElevenLabs HTTP ${res.status}` } };\n  }\n  const buffer = await res.arrayBuffer();\n  const base64 = btoa(String.fromCharCode(...new Uint8Array(buffer)));\n  return { json: { success: true, message: i18n.success, audio_base64: base64, format: 'mp3', text_length: text.length, voice_id: voiceId }};\n} catch(e) {\n  return { json: { error: e.message } };\n}"
      },
      "id": "85a1a9d6-d599-4b88-94d3-e102db848933",
      "name": "text_to_speech1",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        2240,
        480
      ]
    },
    {
      "parameters": {
        "name": "find_media",
        "description": "Find stock photos from Unsplash. Requires: query (search term in English). Optional: orientation (landscape|portrait|squarish), count (1-10).",
        "jsCode": "const input = JSON.parse($input.first().json.query || '{}');\nconst ctx = $('Load Credentials').first().json;\nconst creds = ctx.credentials || {};\nconst i18n = ctx.i18n || {};\n\nif (!input.query) return { json: { error: i18n.query_required || 'query required' } };\n\nconst unsplashKey = creds.unsplash_access_key || '';\nif (!unsplashKey) return { json: { error: `Unsplash ${i18n.not_connected}`, help: i18n.configure } };\n\nconst count = Math.min(10, Math.max(1, parseInt(input.count || 4)));\nconst orientation = ['landscape','portrait','squarish'].includes(input.orientation) ? input.orientation : '';\nconst url = `https://api.unsplash.com/search/photos?query=${encodeURIComponent(input.query)}&per_page=${count}${orientation ? `&orientation=${orientation}` : ''}&client_id=${unsplashKey}`;\n\ntry {\n  const res = await fetch(url);\n  if (!res.ok) return { json: { error: `Unsplash HTTP ${res.status}` } };\n  const data = await res.json();\n  const photos = (data.results || []).map(p => ({ id: p.id, description: p.description || p.alt_description, url_regular: p.urls?.regular, url_small: p.urls?.small, photographer: p.user?.name, download_url: p.links?.download }));\n  return { json: { query: input.query, photos, count: photos.length, total: data.total } };\n} catch(e) {\n  return { json: { error: e.message } };\n}"
      },
      "id": "cdeb09ee-a5dc-416a-86a8-7cd6d5483991",
      "name": "find_media1",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        2416,
        480
      ]
    },
    {
      "parameters": {
        "name": "write_content",
        "description": "Writing assistance and translation. content_type: translate (requires: text, target_lang), summarize (requires: text), improve_writing (requires: text, style formal|casual|creative), blog_post (requires: topic, optional: length short|medium|long, language), social_caption (requires: topic, platform instagram|twitter|facebook|linkedin, optional: language).",
        "jsCode": "const input = JSON.parse($input.first().json.query || '{}');\nconst ctx = $('Load Credentials').first().json;\nconst creds = ctx.credentials || {};\nconst i18n = ctx.i18n || {};\nconst lang = ctx.lang || 'th';\nconst contentType = (input.content_type || 'translate').toLowerCase();\n\n// ✅ Use user's OpenRouter key from persona.tokens (not system ENV)\nconst persona = ctx.persona || {};\nconst tokens = persona.tokens || {};\nconst orKey = tokens.openrouter_access_token || process.env.OPENROUTER_API_KEY || '';\nif (!orKey) return { json: { error: `OpenRouter key ${i18n.not_connected}`, help: i18n.configure } };\n\nconst langNameMap = { th: 'Thai', en: 'English', ja: 'Japanese', zh: 'Chinese' };\nconst userLangName = langNameMap[lang] || 'English';\n\nconst callLLM = async (systemPrompt, userContent, maxTokens = 1500) => {\n  const res = await fetch('https://openrouter.ai/api/v1/chat/completions', {\n    method: 'POST',\n    headers: {\n      'Authorization': `Bearer ${orKey}`,\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      model: 'anthropic/claude-haiku-4-5',\n      max_tokens: maxTokens,\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userContent }\n      ]\n    })\n  });\n  const data = await res.json();\n  if (data.error) throw new Error(data.error.message || 'LLM error');\n  return data.choices?.[0]?.message?.content || '';\n};\n\nconst platformRules = {\n  instagram: 'engaging, use 2-3 relevant emojis, 2-3 hashtags, max 150 words',\n  twitter: 'concise, max 280 characters total, 1-2 hashtags, punchy',\n  facebook: 'conversational, slightly longer, end with a question to encourage engagement',\n  linkedin: 'professional, insightful, data-driven when possible, no fluff, max 200 words'\n};\n\ntry {\n  if (contentType === 'translate') {\n    if (!input.text) return { json: { error: i18n.text_required || 'text required' } };\n    const targetLangMap = { th: 'Thai', en: 'English', ja: 'Japanese', zh: 'Chinese', ko: 'Korean', fr: 'French', de: 'German', es: 'Spanish' };\n    const targetLang = targetLangMap[input.target_lang] || input.target_lang || 'English';\n    const result = await callLLM(\n      `Translate the following text to ${targetLang}. Return ONLY the translated text, no explanations, no preamble.`,\n      input.text\n    );\n    return { json: { translated: result, source_length: input.text.length, target_lang } };\n  }\n\n  if (contentType === 'summarize') {\n    if (!input.text) return { json: { error: i18n.text_required || 'text required' } };\n    const result = await callLLM(\n      `Summarize the following text concisely in the same language as the input. Keep key points only. Be brief.`,\n      input.text\n    );\n    return { json: { summary: result, original_length: input.text.length, summary_length: result.length } };\n  }\n\n  if (contentType === 'improve_writing') {\n    if (!input.text) return { json: { error: i18n.text_required || 'text required' } };\n    const style = input.style || 'casual';\n    const styleInstructions = {\n      formal: 'formal, professional, polished',\n      casual: 'natural, friendly, easy to read',\n      creative: 'creative, engaging, vivid and expressive'\n    };\n    const result = await callLLM(\n      `Improve this writing to be more ${styleInstructions[style] || 'clear and natural'}. Keep the same language as the input and preserve the core meaning. Return ONLY the improved text.`,\n      input.text\n    );\n    return { json: { improved: result, style, original: input.text } };\n  }\n\n  if (contentType === 'blog_post') {\n    if (!input.topic) return { json: { error: i18n.topic_required || 'topic required' } };\n    const lengthMap = { short: 300, medium: 600, long: 1200 };\n    const wordCount = lengthMap[input.length] || 600;\n    const writeLang = langNameMap[input.language] || input.language || userLangName;\n    const result = await callLLM(\n      `Write a ${writeLang} blog post about the given topic. Target length: ~${wordCount} words. Include: engaging title, introduction, 2-3 content sections, conclusion. Format with markdown headers (##).`,\n      input.topic,\n      2000\n    );\n    return { json: { blog_post: result, topic: input.topic, language: writeLang, target_words: wordCount } };\n  }\n\n  if (contentType === 'social_caption') {\n    if (!input.topic) return { json: { error: i18n.topic_required || 'topic required' } };\n    const platform = (input.platform || 'instagram').toLowerCase();\n    const rules = platformRules[platform] || 'engaging and platform-appropriate';\n    const writeLang = langNameMap[input.language] || input.language || userLangName;\n    const result = await callLLM(\n      `Write a ${platform} social media caption in ${writeLang}. Rules: ${rules}. Write ONLY the caption text, ready to post.`,\n      input.topic,\n      500\n    );\n    return { json: { caption: result, platform, topic: input.topic, language: writeLang } };\n  }\n\n  return { json: { error: `Unknown content_type: ${contentType}. Use: translate, summarize, improve_writing, blog_post, social_caption` } };\n} catch(e) {\n  return { json: { error: e.message } };\n}"
      },
      "id": "85871144-12bf-41b5-8f81-5b0883e81eea",
      "name": "write_content1",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        2592,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const out = $input.first().json.output || $input.first().json.text || 'ดำเนินการแล้วครับ';\nconst prev = $('Extract Payload1').item.json;\nreturn { json: { ...prev, agentOutput: out, agentCategory: 'creator', processedAt: new Date().toISOString() } };"
      },
      "id": "884ff881-1762-4e9e-8e9c-a56972fe5cbb",
      "name": "Format Output1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        240
      ]
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4-5",
        "options": {
          "maxTokens": 4000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1520,
        480
      ],
      "id": "c1258fd7-46d4-43a1-8b1c-4be77e71a058",
      "name": "OpenRouter Chat Model (Sonnet)",
      "credentials": {
        "openRouterApi": {
          "id": "FUm3Fg9B8euy8cH3",
          "name": "OpenRouter - 2026-02-14T03:30"
        }
      }
    }
  ],
  "connections": {
    "WF3-E Entry1": {
      "main": [
        [
          {
            "node": "Extract Payload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Payload1": {
      "main": [
        [
          {
            "node": "Load Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Credentials": {
      "main": [
        [
          {
            "node": "Creator Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creator Agent1": {
      "main": [
        [
          {
            "node": "Format Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Memory1": {
      "ai_memory": [
        [
          {
            "node": "Creator Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "think1": {
      "ai_tool": [
        [
          {
            "node": "Creator Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search_memories": {
      "ai_tool": [
        [
          {
            "node": "Creator Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "generate_image1": {
      "ai_tool": [
        [
          {
            "node": "Creator Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "text_to_speech1": {
      "ai_tool": [
        [
          {
            "node": "Creator Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "find_media1": {
      "ai_tool": [
        [
          {
            "node": "Creator Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "write_content1": {
      "ai_tool": [
        [
          {
            "node": "Creator Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model (Sonnet)": {
      "ai_languageModel": [
        [
          {
            "node": "Creator Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4ec27780-1e32-49ae-bb29-346b0b74104d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3a8077648ce894608db1ade94831096370fb6a0453430d193f6c81b3c8cc1cb"
  },
  "id": "3lAtbVtO2ix6aVBr",
  "tags": []
}
